# Server
PORT=4000

# Supabase
SUPABASE_URL=https://sxyncrotbwmwjlyoyljb.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4eW5jcm90Yndtd2pseW95bGpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI1MjIyNywiZXhwIjoyMDg3ODI4MjI3fQ.4oCvasFcAyzM6g_t81Gh83Jxr8gc70xGfubTVWYnUEg

# Algorand Network
ALGORAND_ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGORAND_ALGOD_PORT=443
ALGORAND_ALGOD_TOKEN=
ALGORAND_INDEXER_SERVER=https://testnet-idx.algonode.cloud
ALGORAND_INDEXER_PORT=443

# Admin Wallets
PLATFORM_ADMIN_WALLET=IWIHY2GDLXONL4VDDM3XSYYA7AZVE6CMJKNOCCTWMKQXG3I2AQLAWJZRJQ
COLLEGE_ADMIN_WALLET=JPO5U3I5FBGUAB5QC6ZEBEQ5WLEF6SP6GPH5OWSSW6CLUYXJD3GPP3ULOM

# College Admin Mnemonic - REQUIRED FOR NFT MINTING
COLLEGE_ADMIN_MNEMONIC="parrot gorilla diary reject pizza since toilet alcohol limit junk popular bright curve lyrics awesome move purchase cruel before slice carry ancient cycle abandon indicate"

# Smart Contract App ID - SET AFTER DEPLOYMENT
ALGORAND_APP_ID=756317295

# IPFS/Pinata
PINATA_API_KEY=04c02b5f2cf1cf5e9792
PINATA_SECRET_KEY=79b8894e8df28a02c7c220a8cda015f267e922935d2b3a6eb43276f1a42514e6